params {
    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '94.GB'
    max_cpus                   = 24
    max_time                   = '48.h'

    raise_server = false
    extract_rank = "G"

    database = "/localdisk/home/shared/db/kraken/PlusPF/"
    database_set = "PlusPF"
    store_dir = "/localdisk/home/shared/db"
    kraken_compute = 4
    kraken_confidence = 0.1
    threads = 20

    classify_novel_viruses = true
    paired = true
    read_type = "illumina"
    
    extract_thresholds = [
        'Viruses': [
            "min_reads": 2,
            "min_percent": 0
        ],
        'Metazoa': [
            "min_reads": 100,
            "min_percent": 100
        ],
        'Bacteria': [
            "min_reads": 100,
            "min_percent": 100
        ],
        'default': [
            "min_reads": 100,
            "min_percent": 100
        ]
    ]
}
